# DinnerMatch
*** By Alexander Munoz ***

In [1]:
import pandas as pd
import numpy as np
from itertools import izip_longest
from itertools import chain

In [2]:
def grouper(iterable, n, fillvalue=None):
    "Collect data into fixed-length chunks or blocks"
    # Taken from itertools recipes:
    # https://docs.python.org/2/library/itertools.html#recipes
    # grouper('ABCDEFG', 3, 'x') --> ABC DEF Gxx
    args = [iter(iterable)] * n
    return izip_longest(fillvalue=fillvalue, *args)

In [3]:
data = pd.read_csv('data.csv')
data = data.ix[:,[1,2,6,8,9]]
data.columns = ['name', 'email', 'times', 'friend_name', 'friend_email']
data = data.drop(57) #one student accidentally filled out the form twice, drop one submission
data = data.set_index('name')
print data.shape
data.head()

(72, 4)

,email,times,friend_name,friend_email
name,,,,
Eesha Khare,ekhare@college.harvard.edu,"Wednesday, 3/8 6:00pm, Wednesday, 3/8 6:30pm...",Anne Deng,annedeng@college.harvard.edu
Kamara Swaby,kswaby01@college.harvard.edu,"Monday, 2/27 5:00pm, Monday, 2/27 6:00pm, Mo...",NaN,NaN
Jacob Meyerson,jacobmeyerson@college.harvard.edu,"Friday, 3/3 6:30pm, Tuesday, 3/7 6:30pm, Wed...",NaN,NaN
Pieter weemaes,Pweemaes@college.harvard.edu,"Monday, 2/27 5:00pm, Monday, 2/27 6:00pm, Mo...",NaN,NaN
Russell Pekala,russellpekala@college.harvard.edu,"Monday, 2/27 6:00pm, Monday, 2/27 6:30pm, Tu...",NaN,NaN

In [29]:
while(True): #loop until successful match with no students leftover
    times_dict = dict() #key is name, value is list of available times
    for i in range(len(data['times'])):
        time_list_buffer = data['times'][i].split('pm, ') #split times
        time_list_buffer[-1] = time_list_buffer[-1][:-2] #remove last 'pm'
        times_dict[data.index.values[i]] = time_list_buffer

    times_options = set() #determine total time options students had to choose from, shuffled
    for person in times_dict:
        times_options = times_options.union(set(times_dict[person]))
    times_options = list(times_options)
    np.random.shuffle(times_options)

    # NOTE: remove time options from Monday, as the dining hall is closed that day
    times_options = [x for x in times_options if x not in \
     ['Monday, 2/27  5:00', 'Monday, 2/27  6:30', 'Monday, 2/27  6:00']]

    result_dict = dict()
    for curr_time in times_options:
        curr_time_availables = []
        for person in times_dict:
            if curr_time in times_dict[person]:
                curr_time_availables.append(person)
        if len(curr_time_availables) == 1:
            pass
        else:
            np.random.shuffle(curr_time_availables)
            if len(curr_time_availables) % 3 == 0 or len(curr_time_availables) % 3 == 2:
                result_dict[curr_time] = list(grouper(curr_time_availables, 3))
            else:
                result_dict[curr_time] = list(grouper(curr_time_availables, 4))
            for p in curr_time_availables:
                times_dict.pop(p) #remove people who have been picked, so they don't get picked twice

    times_to_pop = [] #delete empty times
    for t in result_dict:
        if result_dict[t] == []:
            times_to_pop.append(t)
    for p in times_to_pop:
        result_dict.pop(p)
    
    if not bool(times_dict): #if all students have been sorted, break
        break

#pretty print results
for t in result_dict:
    print t
    print result_dict[t]
    print

Thursday, 3/2  6:00
[('Christian Floyd', 'Siqi Liu', 'Cynthia Kim'), ('Weimer Macuri-Espinoza', 'Steph Ferrarie', 'Amanda Brandt'), ('Russell Pekala', 'Devon Black', 'Nakoa Farrant'), ('Brad Riew', 'Jen Xu', 'Gita Abhiraman'), ('William Chang', 'Belle Lee', "Camille N'Diaye-Muller"), ('Wyatt Mackey', 'Kamara Swaby', 'Cass Hastie'), ('AJ Protin', 'Kathryn Kearney', 'Anna Lea Albright'), ('Ben Chen', 'Katie Smilow ', 'Peter Tian'), ('Joey Colton', 'Tony Lin', 'Victoria')]

Saturday, 3/4  5:00
[('Elaine', 'Stephanie Guo', None)]

Wednesday, 3/8  5:00
[('Charlotte Anrig', 'Eliza Llewellyn', None)]

Tuesday, 2/28  6:30
[('Sophia Samutin ', 'Lucas Cassels', None)]

Monday, 3/6  6:30
[('Brooke Bourgeois', 'Lethu Ntshinga', 'Francesca Noelette '), ('Annie Frost', 'Ruiqi He', 'Noemi Urquiza'), ('Justin Fox', 'Arlesia McGowan', None)]

Tuesday, 3/7  6:00
[('Molly Leavens', 'Walker Maeder-York', 'Natalie Vega'), ('Jenna Gray', 'Andrea Schoenberg', 'Chris Jury'), ('Cecilia Yao', 'Mia Vitale', 'Pieter weemaes'), ('Joey Kubicki', 'Malaaz Ghandour', 'Sarah Wu'), ('Mark Steinbach', 'Ying Guo', 'Andrew Mayo'), ('Jason Goodman', 'Natalie Antunez', 'Meredith Clark'), ('Serena', 'Michael Ge', None)]

Wednesday, 3/8  6:00
[('Eva Miller', 'noemi valdez', 'Eesha Khare')]

Friday, 3/3  6:30
[('Uju Nwosu', 'Eric Po', 'Jullian Duran'), ('Eva DiIanni-Miller', 'Chinaza', 'Cecil '), ('Jacob Meyerson', 'Celeste Mendoza', None)]

In [31]:
names = []
for timepoint in result_dict:
    for pairing in result_dict[timepoint]:
        for name in list(pairing):
            if str(name) != 'None':
                names.append(name)
                
emails = [data.ix[n,'email'] for n in names]
emails_out = pd.DataFrame(emails, index=names, columns=['email'])
emails_out.head()

                                                      email
Christian Floyd          christianfloyd@college.harvard.edu
Siqi Liu                        siqiliu@college.harvard.edu
Cynthia Kim                  cynthiakim@college.harvard.edu
Weimer Macuri-Espinoza  wmacuriespinoza@college.harvard.edu
Steph Ferrarie                sferrarie@college.harvard.edu

In [32]:
#save emails
emails_out.to_csv('emails_out.csv', sep=',')